
.main-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.form-grid {
    padding: 30px;
    display: flex;
}

.form-grid > FormControl > TextField {
    width: 500px;
}

.calculate-btn {
    margin: 20px;
}

.textfield input {
    padding: 15px !important;
}
#center-container{
    /* background: black; */
    display: flex !important;
    flex-direction: column !important ;

    

}

#compareList{
    display: flex;
    flex-direction: row !important;
    justify-content: space-around  ;
}

@media only screen and (max-width: 600px) {
    #center-container{


    /* background:red; */
    flex-direction: row !important ;

}
    #compareList{
        flex-direction: column !important ;
        padding: 20px;
    }
}