/* .appbar{}
.main-container{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.title{

}

.form-grid {
    padding: 30px;
    display: flex;
}

.form-grid > TextField {
    width: 500px;
}

.calculate-btn {
    margin: 20px;
} */

.textfield input {
    padding: 15px !important;
}
#center-container{
    /* background: black; */
    display: flex;
    flex-direction: row ;
    
}

@media only screen and (max-width: 600px) {
    #center-container{

    /* background:red; */
    flex-direction: column !important ;

}
.css-f0xsrb-MuiGrid-root{
    max-width: 1;
}
.css-gkopid-MuiGrid-root{
margin-left: 0 !important;
} 

.MuiGrid-grid-xs-12 {
    padding: 20px 20px 20px 20px !important;
    margin-top: 10px;
}
}